@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

.titulo {
    font-family: 'Chewy', cursive;
    font-weight: bolder;
    font-size: 60px;
    margin: 0;
    background-color: #198754;
    color: white;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.menu {
    padding-bottom: 10px;
    margin-bottom: 5px;
    border: 1px black solid;
    background-color: rgb(164, 12, 12);
    color: white;
}

.img {
    width: 400px;
    border: 1px solid black;
}

.texto {
    font-family: 'Chewy', cursive;
    font-weight: bolder;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

#meme{
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}